$main-color: #f85064;
$second-color: #414141;


.movie {
  margin: 20px 0;
  color: $second-color;
  flex: 0 1 350px;
  transition: box-shadow .1s;
  display: flex;
  flex-direction: column;
  &:last-of-type() {
    align-self: flex-start;
  }
  &-link-img {
    font-size: 0;
  }
  &-discription {
    background-color: #dddddd;
    padding: 10px;
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-date {
    border: 1px solid $second-color;
    border-radius: 3px;
    padding: 2px 10px;
  }
  a {
    color: inherit;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    width: 100%;
  }
  &:hover {
    box-shadow: 4px 4px 4px #ccc;
  }
  &DiscriptionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 30px;
    font-size: 1.25em;
    img {
      width: 30%;
    }
    .awards {
      display: inline-block;
      margin: 15px 0;
      color: #ccc;
    }
    .ratingAndNameWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h2 {
        display: inline-block;
      }
      .rating {
        color: #50a91d;
        border: 2px solid #50a91d;
        padding: 10px;
        margin-left: 15px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .yearDurationWrapper {
      margin-right: 20px;
      font-weight: bold;
      font-size: 0.75em;
      color: #ccc;
    }
    .detailDiscription {
      color: #ccc;
    }
  }
  &Info {
    width: 60%;
    margin-bottom: 50px;
    & > * {
      margin-bottom: 15px;
    }
    h2 {
      color: $main-color;
      text-transform: capitalize;
      margin: 0;
      @media(max-width: 500px) {
        line-height: 1em;
        font-size: 20px;
      }
    }
  }
}

.overview {
  line-height: 1.5em;
  @media(max-width: 500px) {
    line-height: 1em;
    font-size: 14px;
  }
}

.button {
  position: absolute;
  background-color: $second-color;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 10px;
  padding: 15px 60px;
  cursor: pointer;
  transition: background-color .3s;
  bottom: 25px;
  right: 25px;
  &:hover {
    background-color: lighten($main-color, 4%);
  }
}