$main-color: #f85064;
$second-color: #414141;

.resultList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // &::after {
  //   content: "";
  //   flex: auto;
  // }
}

