$main-color: #f85064;
$second-color: #414141;


.movie {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow .3s;
  @media(max-width: 700px) {
    width: 100%;
  }
  .movieLinkImg {
    transition: .2s;
    &:hover {
      opacity: 0.9;
    }
  }
  &__item {
    display: flex;
    padding: 1rem;
    @media(max-width: 700px) {
      width: 100%;
    }
    @media(min-width: 700px) {
      width: 50%;
    }
    @media(min-width: 1100px) {
      width: 33.3333%;
    }
  }
  &:hover {
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.35);
  }
  &LinkImg {
    font-size: 0;
  }
  &Discription {
    background-color: #dddddd;
    padding: 10px;
    height: 100%;
  }
  &Title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &Header {
    overflow: hidden; 
    max-height: 80px;
    margin: 0;
  }
  &Date {
    border: 1px solid $second-color;
    border-radius: 3px;
    padding: 2px 10px;
  }
  a {
    color: inherit;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    width: 100%;
  }
  &DiscriptionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 30px;
    font-size: 1.25em;
    img {
      width: 30%;
    }
    .awards {
      display: inline-block;
      margin: 15px 0;
      color: #ccc;
    }
    .ratingAndNameWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h2 {
        display: inline-block;
      }
      .rating {
        color: #50a91d;
        border: 2px solid #50a91d;
        padding: 10px;
        margin-left: 15px;
        border-radius: 50%;
      }
    }
    .yearDurationWrapper span {
      margin-right: 20px;
      font-weight: bold; 
    }
    .detailDiscription {
      color: #ccc;
    }
  }
  &Info {
    width: 60%;
    h2 {
      color: $main-color;
      text-transform: capitalize;
      margin: 0;
    }
  }
}
