$main-color: #f85064;
$second-color: #414141;

.resultControls {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #dadada;
  padding: 0 20px;
  color: $second-color;
  font-weight: bold;
  @media(max-width: 650px) {
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    .founded {
      width: 100%;
    }
    span, div {
      text-align: center;
      margin: 5px 0 5px;
      width: 100%;
    }
  }
  
  &Wrapper {
    margin-right: 0;
    margin-left: auto;
    height: 100%;
  }
}

.sortByButton {
  cursor: pointer;
  align-self: stretch;
  background-color: transparent;
  height: 100%;
  border: none;
  &.active {
    color: $main-color;
    font-weight: bold;
  }
  &:hover {
    background-color: darken(#dadada, 3%);
  }
}

.button {
  background-color: $main-color;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 10px;
  padding: 5px 30px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .3s;
  &-genere {
    background-color: $second-color;
  }
  &-search-single-movie {
    background-color: #fff;
    color: $main-color;
    padding: 15px 30px;
    &:hover {
      color: #fff;
    }
  }
  &-search {
    margin-left: auto;
    margin-right: 0;
    padding: 10px 70px;
  }
  &:hover {
    background-color: darken($main-color, 4%);
  }
}