.wrapper {
  // padding: 0 25px;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  &-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}